.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.error{
  font-size: 20px;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
}

.tables {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.table {
  width: 45%;
}

td {
  width: 25%;
  text-align: right;
}
